body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login_box{
    width: 500px;
    height: 300px;
    border: 5px;
    border-radius: 10px;
    margin: 300px auto;
    background: gray;
    opacity: 0.5;
    text-align: center;
    box-shadow: 0 0 10px 10px gray;
}
.login_box:hover{
    opacity: 0.8;
    box-shadow: 0 0 10px 10px gray;
}
.title{
    text-align: center;
    padding-top: 30px;
    font-family: Gigi, serif;
    font-size: 25px;
    font-weight: 900;
}
.input_area{
    margin-top: 20px;
}
input{
    width: 400px;
    height: 40px;
    opacity: 0.5;
    font-family: Gigi, serif;
    font-weight: 900;
    border: 0;
}
input:hover{
    opacity: 0.8;
}
.account:focus, .pwd:focus{
    opacity: 1;
}
.account{
    background-image: url("../img/account.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 5px;
    background-position-y: 5px;
    padding-left: 40px;
    width: 360px;
}
.pwd{
    background-image: url("../img/password.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 5px;
    background-position-y: 5px;
    padding-left: 40px;
    width: 360px;
}
.btn{
    width: 190px;
    margin: 0 10px;
}
.btn:active{
    opacity: 1;
}